{
  "query": "select t.id from maniphest_customfieldstorage f, maniphest_task t where t.PHID=f.objectPHID and f.fieldIndex=? and f.fieldValue=?",
  "mysql": {
    "user": {{ phabricator.redirects.database_username | tojson }},
    "pass": {{ phabricator.redirects.database_password | tojson}},
    "host": {{ phabricator.redirects.database_host | tojson }}
  },
  "fieldIndex": {{ phabricator.redirects.field_index | tojson}},
  "urlPatterns": [
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/show_bug.cgi\\?id=([0-9]+)",
      "fieldValue": "bz$2",
      "redirectUrl": "https://phabricator.wikimedia.org/T$id"
    },
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/([0-9]+)",
      "fieldValue": "bz$2",
      "redirectUrl": "https://phabricator.wikimedia.org/T$id"
    },
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/buglist.cgi\\?(.*)",
      "redirectUrl": "https://old-bugzilla.wikimedia.org/buglist.cgi?$2"
    },
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/attachment.cgi\\?(.*)",
      "redirectUrl": "https://old-bugzilla.wikimedia.org/attachment.cgi?$2"
    },
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/[a-zA-Z_]+.cgi(\\?.*)$",
      "redirectUrl": "https://phabricator.wikimedia.org/"
    },
    {
      "pattern": "(bugs|bugzilla).wikimedia.org/?",
      "redirectUrl": "https://phabricator.wikimedia.org/"
    }
  ]
}
